<div class='browser'>
    <!-- <input style='border:0; margin-left:0; width:80%' id='search_field'> -->
    <!-- <button style='min-width:3em' id='search_button'>Search</button> -->
  <button style='min-width:4em' id='browser_demos_button'>Demos</button>
  <button style='min-width:4em' id='browser_tutorials_button'>Tutorials</button>
  <button style='min-width:4em' id='browser_search_button'>Search</button>
  <button style='min-width:4em' id='browser_recent_button'>Recent</button>
  <button style='min-width:4em' id='browser_user_button'>User</button>  
  
  <div id='browser_main'>  
    <div id='browser_demos'>
      <table>
        <thead><th></th><th></th></thead>
        <tbody>
        <tr><td class='browserHeader'><h2>Demos</h2></td></tr>
        <tr><td>
          <!-- $("#browser_audio").toggle(); -->
          <h3 id="browser_audio_header" class='browserHeading'>Audio <!-- <span id='browser_updown'>&#9662;</span> --></h3>
          <div id='browser_audio_demos' style='display:block' class='browserLinks'>
          <ul>
          <% for(var i=0; i< demos.audio.length; i++) { %>
          <li onclick="Gibber.Environment.Browser.openDemo('<%- demos.audio[i].id %>')"><%- demos.audio[i].id.split('/')[2].split('*')[0]%></li>
          <% } %>
          </ul></div>
        </td><tr>
  
        <tr><td>
          <h3 class='browserHeading'>Visual <!-- <span id='browser_updown'>&#9662;</span> --></h3>
          <div id='browser_visual_demos' class='browserLinks'>
            <ul>
            <% for(var i=0; i< demos.visual.length; i++) { %>
            <li onclick="Gibber.Environment.Browser.openDemo('<%- demos.visual[i].id %>')"><%- demos.visual[i].id.split('/')[2].split('*')[0]%></li>
            <% } %>
            </ul>
          </div>
        </td></tr>
  
        <tr><td>
          <h3 class='browserHeading'>Audiovisual <!-- <span id='browser_updown'>&#9662;</span> --></h3>
          <div id='browser_audiovisual_demos' class='browserLinks'>
          <ul>
          <% for(var i=0; i< demos.audiovisual.length; i++) { %>
          <li onclick="Gibber.Environment.Browser.openDemo('<%- demos.audiovisual[i].id %>')"><%- demos.audiovisual[i].id.split('/')[2].split('*')[0]%></li>
          <% } %>
         </ul>
         </div>
       </td></tr>
        </tbody>
      </table>
    </div>
  
    <div id='browser_tutorials'>
      <table>
        <thead><th></th><th></th></thead>
        <tbody>
        <tr><td class='browserHeader'><h2>Tutorials</h2></td></tr>
        <tr><td>
          <!-- $("#browser_audio").toggle(); -->
          <h3 id="browser_audio_header" class='browserHeading'>Audio <!-- <span id='browser_updown'>&#9662;</span> --></h3>
          <div id='browser_audio' style='display:block' class='browserLinks'>
          <ul>
          <% for(var i=0; i<audio.length; i++) { %>
          <li onclick="Gibber.Environment.Browser.openCode('<%- audio[i].id %>')"><%- audio[i].id.split('/')[2].split('*')[0]%></li>
          <% } %>
          </ul></div>
        </td><tr>
  
        <tr><td>
          <h3 class='browserHeading'>2d Drawing <!-- <span id='browser_updown'>&#9662;</span> --></h3>
          <div id='browser_2d' class='browserLinks'>
            <ul>
            <% for(var i=0; i<_2d.length; i++) { %>
            <li onclick="Gibber.Environment.Browser.openCode('<%- _2d[i].id %>')"><%- _2d[i].id.split('/')[2].split('*')[0]%></li>
            <% } %>
            </ul>
          </div>
        </td></tr>
  
        <tr><td>
          <h3 class='browserHeading'>3D Scenes <!-- <span id='browser_updown'>&#9662;</span> --></h3>
          <div id='browser_3d' class='browserLinks'>
          <ul>
          <% for(var i=0; i<_3d.length; i++) { %>
          <li onclick="Gibber.Environment.Browser.openCode('<%- _3d[i].id %>')"><%- _3d[i].id.split('/')[2].split('*')[0]%></li>
          <% } %>
         </ul>
         </div>
       </td></tr>

       <tr><td>
         <h3 class='browserHeading'>Miscellaneous <!-- <span id='browser_updown'>&#9662;</span> --></h3>
         <div id='browser_misc' class='browserLinks'>
           <ul>
           <% for(var i=0; i<misc.length; i++) { %>
           <li onclick="Gibber.Environment.Browser.openCode('<%- misc[i].id %>')"><%- misc[i].id.split('/')[2].split('*')[0]%></li>
           <% } %>
         </ul>
         </div>
       </td></tr>
    </tbody></table>
  </div>
  
  <div id='browser_recent' >
    <table>
    <thead><th></th><th></th></thead>
    <tbody>
    <tr><td class='browserHeader'><h2>New Publications</h2></td></tr>
    <tr><td class='browserLinks'>
      <!-- <div id='browser_recent'> -->
        <ul>
        <% for(var i=0; i<recent.length; i++) { %>
          <li onclick="Gibber.Environment.Browser.openCode('<%- recent[i]._id %>')">
            <span class='recentDate'>
            <%- recent[i].publicationDate[1] + '.' + recent[i].publicationDate[2] + '.' + recent[i].publicationDate[0] %>
          </span> 
          <%- ' ' + recent[i]._id.split('/')[0] + ' - ' + recent[i]._id.split('/')[2] %>
        </li>
        <% } %>
        </ul>
      <!-- </div> -->
    </td></tr>
    </tbody></table>
  </div>

  <div id='browser_user'>
    <table>
      <thead><th></th><th></th></thead>
      <tbody>
        <tr><td class='browserHeader'><h2>Your Files</h2></td></tr>
        <tr><td 'browserLinks'>
          <div id='browser_userfiles'>
          <p>You are not currently logged in. Please log in to see your files.</p>
        </td></tr>
      </tbody>
    </table>
  </div>
  
  <div id='browser_search'>
    <table>
      <thead><th></th><th></th></thead>
      <tbody>
      <tr><td class='browserHeader'><h2>Search</h2></td></tr>
      <tr class='search'><td>
        <input style="display:block">
        <button class='searchOption'>tags</button>
        <button class='searchOption'>code</button>
        <button class='searchOption'>author</button>
        <!-- <div style='display:inline-block; width:2em; height:2em;' class='spinnerHolder'></div> -->
        <button class='browserSearch'>search</button>
      </td></tr>
    </tbody></table>
  </div>
  
  </div><!-- end browser_main -->
  
  <div id='browser_meta'>
    <h4></h4><span id="browser_title"></span> by <span id="browser_author"></span>
    <h4>tags</h4>
    <p id="browser_tags"></p>
    <h4>notes</h4>
    <p id="browser_notes">  </p>
  </div>
  
</div><script> /* must be on same line as ending div for some reason */
  Gibber.Environment.Browser.files = {
    demos : <%= inspect(demos, {depth:null}) %>,    
    audio : <%= inspect(audio, {depth:null}) %>,
    _2d  : <%= inspect(_2d, {depth:null}) %>,
    _3d  : <%= inspect(_3d, {depth:null}) %>,
    misc : <%= inspect(misc, {depth:null})%>,
    recent : <%= inspect(recent, {depth:null}) %>,
    userfiles : <%= inspect(userfiles, {depth:null}) %>
  }
</script>